* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu {
  background-color:lightgreen;
}

.pie-pagina {
  background-color:lightgreen;
}